/* general */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: 'Roboto', sans-serif;
}

.rectangle{
  border-radius: 9px;
  padding: 5px 5px;
  font-size: 0.8rem;
  color: white;
}
/* background-color */
.back-blue{
  background-color: #45abea;
}

.back-violet{
  background-color: #9c72e4;
}

.back-green{
  background-color: #64c0a9;
}
.back-orange{
  background-color: #f29e33;
}

.back-pink{
  background-color: #d863a1;
}

.back-lightgreen{
  background-color: #b0c926;
}
/* /background-color */

/* header */
header{
  padding: 5px 20px;
  background-color: white;
}


header span{
  font-size: 2.5rem;
  font-weight: 800;
}

header img{
  vertical-align: middle;
}
/* /header */

/* main */
.container{
  width: 70%;
  max-width: 1200px;
  margin: 60px auto;
  background-color: white;
  border-radius: 3px;
}

/* nav */
nav{
  padding: 10px 50px;
  border-bottom: 2px solid #f6f8f9;
}

nav button{
  padding: 8px 14px;
  border-radius: 6px;
}

#first-button{
  background-color: #47adf1;
  color: white;
  border: none;
}

#second-button{
  border: 1px solid #cbd0d4;
  background-color: white;
  color: #cbd0d4;
}
/* /nav */

section{
  font-size: 1.2rem;
}

section .raw{
  padding: 10px 50px;
}

h2::before{
  content: '\25be';
}

section .checkmark::before{
  content: '\2713';
}

section .ballot::before{
  content: '\2718';
}

section .checkmark{
  border-radius: 50%;
  border: 1px solid #6ec5b0;
  padding: 3px 3px;
  font-size: 0.7rem;
  color: #6ec5b0;
  font-weight: 800;
  margin-right: 3px;
}

section .ballot{
  border-radius: 50%;
  border: 1px solid red;
  padding: 3px 3px;
  font-size: 0.7rem;
  color: red;
  font-weight: 800;
  margin-right: 3px;
}

section .to-do{
  padding: 10px 0;
}

/* /main */